<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bluetron.librfid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.bluetron.ui.activity.devicelist.DeviceListActivity"></activity>
        <activity android:name="com.bluetron.ui.activity.aroundrfidlist.AroundRfidListActivity" />
        <activity android:name="com.bluetron.ui.activity.WriteRfidActivity" />
        <activity android:name="com.bluetron.ui.activity.taskdetail.TaskDetailActivity" />
        <activity android:name="com.bluetron.ui.activity.tasklist.TaskListActivity" />
        <activity android:name="com.bluetron.ui.activity.rfiddemo.RfidDemoActivity" />
        <activity android:name="com.bluetron.ui.activity.devicedetail.DeviceDetailActivity" />
    </application>

</manifest>